* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

textarea {
  height: 40px;
  min-height: 50px;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;
}

.main-input {
  max-width: 200px;
}

.avatar {
  border-radius: 100%;
  background-color: #17a2b8;
  color: white;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
}

.avatar-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#message {
  width: 100%;
}

.dropdown-item {
  text-align: center;
  font-size: 1.5rem;
}

#fontSize {
  outline: none;
  font-size: 16px;
  width: 50px;
}

@media screen and (max-width: 768px) {
  .dropdown-item {
    font-size: 1.2rem;
  }

  #messages {
    margin: auto 0px auto 0px;
  }

  #input-group {
    margin: auto 0px auto 0px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header h1 {
    font-size: 2.1rem;
  }

  .setting {
    margin-top: 7px;
  }
}
